<div class="modal fade confirm-modal" id="<%= modal_id %>" tabindex="-1" role="dialog" aria-labelledby="<%= modal_id %>" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_with class: 'confirm_action confirm_method', url: user_dashboard_images_path do |form| %>
        <div class="modal-header">
            <h5 class="modal-title confirm_modal_title" id="exampleModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <div class="modal-body">
         <p class="confirm_message"></p>
        </div>
        <div class="modal-footer">
          <%= form.button 'Close', class: 'btn btn-secondary', data: {dismiss: 'modal'}  %>
          <%= form.submit 'Create', class: 'btn btn-primary confirm_button_label' %>
        </div>
      <% end %>
    </div>
  </div>
</div>